<section id="cta" class="cta" aria-labelledby="cta-heading" [dhScrollReveal]="'up'">
  <div class="cta__inner">
    <div class="cta__panel">
      <div class="cta__glow cta__glow--tl" aria-hidden="true"></div>
      <div class="cta__glow cta__glow--br" aria-hidden="true"></div>
      <h2 id="cta-heading" class="cta__title">{{ 'donationsHub.cta.title' | translate }}</h2>
      <p class="cta__lead">{{ 'donationsHub.cta.lead' | translate }}</p>
      <div class="cta__actions">
        <button type="button" class="cta__btn cta__btn--solid">
          {{ 'donationsHub.cta.donorBtn' | translate }}
        </button>
        <button type="button" class="cta__btn cta__btn--ghost">
          {{ 'donationsHub.cta.facilityBtn' | translate }}
        </button>
        <button type="button" class="cta__btn cta__btn--link">{{ 'donationsHub.cta.login' | translate }}</button>
      </div>
    </div>
  </div>
</section>
