<footer class="footer">
  <div class="footer__grid">
    <div class="footer__brand">
      <div class="footer__logo">{{ 'masajidWork.footer.brand' | translate }}</div>
      <p class="footer__mission">{{ 'masajidWork.footer.mission' | translate }}</p>
    </div>
    <div>
      <h3 class="footer__heading">{{ 'masajidWork.footer.quickHeading' | translate }}</h3>
      <nav class="footer__nav" [attr.aria-label]="'masajidWork.footer.quickNavAria' | translate">
        <a *ngFor="let link of quickLinks" [href]="link.href">{{ link.labelKey | translate }}</a>
      </nav>
    </div>
    <div>
      <h3 class="footer__heading">{{ 'masajidWork.footer.legalHeading' | translate }}</h3>
      <nav class="footer__nav" [attr.aria-label]="'masajidWork.footer.legalNavAria' | translate">
        <a *ngFor="let link of legalLinks" [href]="link.href">{{ link.labelKey | translate }}</a>
        <p class="footer__email">{{ 'masajidWork.footer.emailDisplay' | translate }}</p>
      </nav>
    </div>
  </div>
  <div class="footer__bar">
    <p class="footer__copy">{{ 'masajidWork.footer.copy' | translate }}</p>
  </div>
</footer>
