<section id="about" class="roles" aria-labelledby="roles-heading" [mwScrollReveal]="'down'">
  <div class="roles__inner">
    <h2 id="roles-heading" class="roles__title">{{ 'masajidWork.roles.heading' | translate }}</h2>
    <div class="roles__grid">
      <article class="roles__card" *ngFor="let role of roles">
        <span class="material-symbols-outlined roles__icon" aria-hidden="true">{{ role.icon }}</span>
        <h3 class="roles__card-title">{{ role.titleKey | translate }}</h3>
        <p class="roles__text">{{ role.descriptionKey | translate }}</p>
        <button type="button" class="roles__btn">{{ role.actionLabelKey | translate }}</button>
      </article>
    </div>
  </div>
</section>
